:root {
    --cell-size: 34px;
    --board-size: calc(var(--cell-size) * 8);
    --frame-size: 1em;
}

body {
	background-color: #fff;
	font: bold 14pt Calibri, Arial, sans-serif;
    color: #444;
	text-align: center;
    padding: 0;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.main-container-row {
	display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;

    padding: 1em;
}

.board-container {
    background-color: #999;
}

.rowBoard {
    display: flex;
}

.h-side {
    margin: 0 var(--frame-size);
    display: flex;
}

.v-side {
    display: flex;
    flex-direction: column;
}

.horizontal-cell {
    line-height: var(--frame-size);
    height: var(--frame-size);
    width: var(--cell-size);
}

.vertical-cell {
    line-height: var(--cell-size);
    height: var(--cell-size);
    width: var(--frame-size);
}

.board {
    display: flex;
    flex-wrap: wrap;

    width: var(--board-size);
    height: var(--board-size);

    font-size: 18pt;
    user-select: none;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    line-height: var(--cell-size);
}

.cell[data-piece] {
    cursor: pointer;
    background-size: calc(6 * var(--cell-size)) calc(2 * var(--cell-size));
    background-image: url(pieces.png);
}

.cell[data-piece='queen'][data-side='white'] {
    background-position: 0 0;
}
.cell[data-piece='king'][data-side='black'] {
    background-position: calc(-1 * var(--cell-size)) 0;
}
.cell[data-piece='rook'][data-side='black'] {
    background-position: calc(-2 * var(--cell-size)) 0;
}
.cell[data-piece='knight'][data-side='black'] {
    background-position: calc(-3 * var(--cell-size)) 0;
}
.cell[data-piece='bishop'][data-side='black'] {
    background-position: calc(-4 * var(--cell-size)) 0;
}
.cell[data-piece='pawn'][data-side='black'] {
    background-position: calc(-5 * var(--cell-size)) 0;
}
.cell[data-piece='queen'][data-side='white'] {
    background-position: 0 calc(-1 * var(--cell-size));
}
.cell[data-piece='king'][data-side='white'] {
    background-position: calc(-1 * var(--cell-size)) calc(-1 * var(--cell-size));
}
.cell[data-piece='rook'][data-side='white'] {
    background-position: calc(-2 * var(--cell-size)) calc(-1 * var(--cell-size));
}
.cell[data-piece='knight'][data-side='white'] {
    background-position: calc(-3 * var(--cell-size)) calc(-1 * var(--cell-size));
}
.cell[data-piece='bishop'][data-side='white'] {
    background-position: calc(-4 * var(--cell-size)) calc(-1 * var(--cell-size));
}
.cell[data-piece='pawn'][data-side='white'] {
    background-position: calc(-5 * var(--cell-size)) calc(-1 * var(--cell-size));
}

.cell.even {
    background-color: #ccc;
}

.cell.odd {
    background-color: #fff;
}

.cell.hidden {
    display: none;
}

.moving {
    position: fixed;
    width: var(--cell-size);
    height: var(--cell-size);
    pointer-events: none;
}
