@font-face {
    font-family: Kingdom;
    src: url(fonts/kingdom.ttf);
}

@font-face {
    font-family: Cases;
    src: url(fonts/cases.ttf);
}

@font-face {
    font-family: Leipzig;
    src: url(fonts/leipzig.ttf);
}

@font-face {
    font-family: Maya;
    src: url(fonts/maya.ttf);
}

@font-face {
    font-family: Merida;
    src: url(fonts/merida.ttf);
}

:root {
    --cell-size: 34px;
    --board-size: calc(var(--cell-size) * 8);
    --frame-size: 1em;
}

body {
	background-color: #fff;
	font: bold 14pt Calibri, Arial, sans-serif;
    color: #444;
	text-align: center;
    padding: 0;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.main-container-row {
	display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;

    padding: 1em;
}

.board-container {
    background-color: #999;
}

.rowBoard {
    display: flex;
}

.h-side {
    margin: 0 var(--frame-size);
    display: flex;
}

.v-side {
    display: flex;
    flex-direction: column;
}

.horizontal-cell {
    line-height: var(--frame-size);
    height: var(--frame-size);
    width: var(--cell-size);
}

.vertical-cell {
    line-height: var(--cell-size);
    height: var(--cell-size);
    width: var(--frame-size);
}

.board {
    display: flex;
    flex-wrap: wrap;

    width: var(--board-size);
    height: var(--board-size);

    font-size: 18pt;
    user-select: none;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    line-height: var(--cell-size);
}

.cell[data-piece] {
    cursor: pointer;
}

.cell.even {
    background-color: #ccc;
}

.cell.odd {
    background-color: #fff;
}

.white {
    color: #fff;
    text-shadow: 2px 0px #000, -2px 0px #000, 0px 2px #000, 0px -2px #000;
    font-size: 16pt;
}

.black {
    color: #222;
}

.letterPieceAll {
    font-family: Leipzig, Consolas, monospace;
    font-size: var(--cell-size);
    background-color: #fff !important;
    color: #666;
}

.letterPiece {
    font-family: Leipzig, Consolas, monospace;
    font-size: var(--cell-size);
    color: #222;
}

.hidden {
    display: none;
}

.moving {
    position: absolute;
    pointer-events: none;
    background: rgba(0, 0, 0, 0) !important;
}