:root {
    --cell-size: 54px;
    --board-size: calc(var(--cell-size) * 8);
    --frame-size: 1em;
}

body {
	background-color: rgb(73, 37, 13);
	font: bold 16pt Calibri, Arial, sans-serif;
    color: #444;
	text-align: center;
    padding: 0;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.main-container-long {
    display: flex;
    flex-direction: row;
}

.main-container-row {
	display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.board-container {
    background-color: rgb(143, 166, 180);
    margin: 1em;
}

.rowBoard {
    display: flex;
}

.h-side {
    margin: 0 var(--frame-size);
    display: flex;
}

.v-side {
    display: flex;
    flex-direction: column;
}

.horizontal-cell {
    line-height: var(--frame-size);
    height: var(--frame-size);
    width: var(--cell-size);
}

.vertical-cell {
    line-height: var(--cell-size);
    height: var(--cell-size);
    width: var(--frame-size);
}

.board {
    display: flex;
    flex-wrap: wrap;

    width: var(--board-size);
    height: var(--board-size);

    font-size: calc(var(--cell-size) * 0.8);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    line-height: var(--cell-size);
}

.cell.even {
    background-color: rgb(177, 144, 133);
}

.cell.odd {
    background-color: rgb(236, 236, 236);
}

.white {
    color: #fff;
    text-shadow: 2px 0px #000, -2px 0px #000, 0px 2px #000, 0px -2px #000;
    font-size: calc(var(--cell-size) * 0.75);
}

.black {
    color: #222;
}
